.notice-coding {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.notice-coding-img {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}