<mat-card class="notice-coding">
    <mat-card-header>
        <div mat-card-avatar class="notice-coding-img"></div>
        <mat-card-title>{{aviso.title}}</mat-card-title>
        <mat-card-subtitle>{{aviso.language}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{aviso.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button>LIKE</button>
    </mat-card-actions>
</mat-card>
