
<mat-divider></mat-divider>
<div>
    <form #AvisoForm="ngForm" (ngSubmit)="onSubmit(AvisoForm)" class="add-aviso-form main-container">
        <h3>Add New announcement:</h3>
        <mat-form-field class="full-width-field">
            <input matInput [(ngModel)]="aviso.title" name="title" placeholder="Title/Announcement" required>
        </mat-form-field>
        <mat-form-field class="full-width-field">
            <mat-select [(ngModel)]="aviso.language" name="language" placeholder="Select a programming language">
                <mat-option *ngFor="let language of languages" [value]="language.value">
                    {{language.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width-field">
            <textarea matInput [(ngModel)]="aviso.description" name="description" placeholder="Write the description from announcement"
                required></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!AvisoForm.form.valid">Add Announcement</button>
    </form>
</div>
<br />
<br />
<mat-divider></mat-divider>

<div class="main-container">
    <div>
        <h2 class="title-center">Latest announcements of programming competences</h2>
    </div>

    <div *ngFor="let _aviso of avisos; let i = index" class="avisos-container">
        <app-aviso [aviso]=_aviso></app-aviso>
    </div>
</div>