.main-container {
    max-width: 960px;
    margin: 0 auto;
}

.add-aviso-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width-field {
    width: 100%;
}

.title-center {
    text-align: center;
}
.avisos-container {
    width: 285px;
    margin: 20px;
    float: left;
}