<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">  
    <div class="button-row">    
        <a mat-button [routerLink]="['/home']">Home</a>
        <a mat-button [routerLink]="['/registrar']">Registrar</a>
        <a mat-button [routerLink]="['/avisos']">Avisos</a>
    </div>    
</mat-toolbar>

<div class="button-row">
    <h4>{{title}}</h4>
</div>

<router-outlet></router-outlet>




